.poppins-thin {
    font-family: "Poppins", sans-serif;
    /* font-weight: 100;
    font-style: normal; */
  }

  /* .first{
    width: 70%;
  } */
  /* .aside{
    width: 25%;
    float: left;
    padding: 5px;
  } */